//globals?
img{
  max-width: 100%;
}

.sheet-wrapper{
    min-width: 8.5in;
    min-height: 11in;
    overflow: scroll;
    background-color: black;
    display: grid;
    grid-auto-columns: 1fr 2fr 2fr;
    grid-auto-rows: 250px 50px auto;
    grid-gap: 3px;
}

.sheet-page{
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 3;
    > div{
      background: white;
    }
}

//helper classes?
//might add some col and row classes here later if they are used often enough
.sheet-left{
  float: left;
}
.sheet-right{
  float:right;
}


//imports
//@import "globals.scss"; not sure if this will be needed
@import "top.scss";
@import "nav.scss";
@import "page-char/page-char.scss";